.code-tabs {
  border-radius: 3px;

  > pre, input {
    display: none;
  }

  input:checked + pre {
    display: block;
    margin: 0;
  }

  label {
    color: rgba(191, 191, 191, 1);
  }

  input:checked + label {
    background-color: rgba(38, 38, 38, 1);
  }

  ul {
    font-size: 0;
    padding: 0;
    white-space: nowrap;
    overflow: auto;
    user-select: none;
    display: flex;
    align-items: center;
  }

  li {
    list-style: none;
    position: relative;
    text-align: center;
  }

  label {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
  }
}