# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules

# Dist
dist
dist-ssr

# Vitepress
docs/.vitepress/dist
docs/.vitepress/cache

# Local files
*.local

# Editor directories and files
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test
tests/e2e/.report
tests/e2e/.results

# Debug files
*.debug*


